

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

}


.row.top{
    align-items:flex-start;
    margin-top: 1rem;
}
.col-1{
    flex:1 1 25rem;
}

.col-2{
    flex:2 1 50rem;
}




