.column{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}
.column.center{
    align-items:flex-start;
    margin-top: 1rem;
    margin-left:15rem;
    gap:2rem
}


.details-title h1{
     font-size: 40px;
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight:700;
}

.details-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
    margin-bottom: 1rem;   
}

.details-nav > a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    background-color: rgb(130, 113, 179);
    border-radius:5px;
    position: relative;
}

.details-btn{
    padding: .6rem;
    cursor: pointer;
    color: #fff;
    font-size: 1.4rem;
}
.details-btn > a{
   color: #fff;
}

.details:before{
    content:"";
    position:absolute;
    background-color: rgb(44, 155, 245);
    width:100%;
    height:10%;
    left:0;
    right: 0;
    transform: translate(0%, -50%);
    bottom:-5px;
}
.details-modal{
    width:100rem;
    height: 450px;
    box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
    position:relative;
    padding:1rem;
    line-height: 2.5rem;
 
}
.details-modal > div{
  display:flex;
  justify-content: center;
 
}



