.column{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}
.column.center{
    align-items:center;
    margin-top: 1rem;
}

.details-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
    margin-bottom: 1rem;
    
}
.details-nav > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    background-color: rgb(130, 113, 179);
    border-radius:5px;
    
}
.details-btn{
    padding: 1rem;
    cursor: pointer;
    color: #fff;
}
.details-btn > a{
   color: #fff;
}

.details-modal{
    width:100rem;
    height: 450px;
    box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
    position:relative;
    padding:1rem;
    line-height: 2.5rem;
 
}



