html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:62.5%;   
}

#root{
  height: 100%;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 a:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
} 

 body{
  font-family: Arial, Helvetica, sans-serif ;
  height: 100vh;
  font-size:1.6rem;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.btn{
  padding:.6rem;
  cursor: pointer;
}

.container{
  padding:3rem;
  

}
.content{
 background-color: #f4f4f4;

}

:root{
  --gradient_deep:#054585 ;
  --gradient_light:#279EFD;
  --black:#000;
  --white:#fff;
  --box-shadow: 0 .3rem .5rem rgba(0,0,0,0.1);
  --dark-gray:rgba(13,13,13);
}


.mentors-header{
  margin-bottom:1rem;
}

.content-margined {
  margin: 2rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #d9d5db9d;
}


.button.secondary {
  background-color: #f0f0f0;
}
.button.primary {
  background-color: #0000ff;
  color: #ffff
}
.button {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover {
  border: 0.1rem #404040 solid;
}