html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

#root{
  height: 100%;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


 a:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
} 


 body{
  font-family: "Poppins", sans-serif;
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


.btn{
  padding:.6rem;
  cursor: pointer;
}

.container{
  padding:3rem;
  

}
.content{
 background-color: #f4f4f4;

}

:root{
  --gradient_deep:#054585 ;
  --gradient_light:#279EFD;
  --black:#000;
  --white:#fff;
  --box-shadow: 0 .3rem .5rem rgba(0,0,0,0.1);
  --dark-gray:rgba(13,13,13);
}


.mentors-header{
  margin-bottom:1rem;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
  font-family: Inter, sans-serif;
}
th {
  text-align:left;
  padding:.6rem;
  font-size:1.4rem;
color: #000000c4;
  
}
tbody > tr:nth-child(odd) {
  background-color: #d9d5db9d;

}

td{

  font-family: Inter, sans-serif;
  color: #000000dc;
  /* text-align:center; */
  padding:.4rem;
}



.action-btn{
  font-family: Inter, sans-serif;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  padding:.9rem;
  font-size:13px;
  white-space: nowrap;
}
.action-btn.danger{
  font-family: Inter, sans-serif;
  color:#a02020;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border: 1px solid #a02020;
  white-space: nowrap;
}
.action-btn.danger:hover{
  background-color: #a02020;
  color: #fff;
}


.action-btn.primary{
  font-family: Inter, sans-serif;
  color: rgb(6, 117, 206);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border: 1px solid rgb(6, 117, 206);
  white-space: nowrap;
}
.action-btn.primary:hover{
  background-color:rgb(6, 117, 206);
  color: #fff;
}

.verify-success{
  color: #20a020;
      background-color:#eeffe0;  
}
.verify-danger{
  color:#a02020;
  background-color:#ffe0e0e0; 
}



