

.main-container{
    position: relative;
   margin-bottom: 2rem;
   
  
  }
  
  .eventBgImg{
    background:linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.1)),url("../LandingData//images/Container\ --\ 1.svg");
  }
  
  .event-header{
  display: flex;
 padding:0 5rem;
   margin-bottom:2rem; 
  font-weight:bold;
  font-size:1.9rem;
  color:rgba(0, 0, 0, 0.555);
  }
  .event-subheader{
    display: flex;
    justify-content:space-between;
    padding:0 5rem;
    font-weight: bolder;
    margin-bottom:2.5rem;
    font-size:2rem;
    text-transform: capitalize;
  }
  
  
.view-btn{
  min-width: 80px;
  background:#2076FF;
  font-size:13px;
  /* font-weight:bold; */
  padding:1rem;
  border-radius:.5rem;
  color: white;
}
.event-wrapper {
display:grid;
grid-auto-flow:column;
gap:2rem;
grid-auto-columns:20%;
overflow-x: hidden;
overflow-y: hidden;

}
.event-wrapper::-webkit-scrollbar{
  width:0;
}

.event-section-card{
  /* border:0.1rem rgba(0, 0, 0, 0.25) solid; */
  background-color:#ffff;
  box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius:0.5rem;
  cursor:pointer;
  position:relative;
  display: flex;
  flex-direction:column;
  align-items:center;
}
.event-wrapper .event-section-card{
margin-right: 2px;
}
/* .event-section-card:hover{
  transform:scale(1.1);   
} */


.event-image{
  height:150px;
min-width:90px;
max-width:100%;
border-radius:0.5rem;
transition:transform 0.3s ease-in;
}



.event-infor{
 
  background-color:#eaecec;
  box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
  color:#000;
  border-radius:0.5rem;
  cursor:pointer;
  position:relative;
  width:80%;
  height:15vh;
  top:-20px;
  padding:.7rem;
  z-index:100;
  

}
.event-title{
  font-size:1.5rem
}

/* 
export const  ProductTitle  = styled.h2`
font-weight:400;
font-size:1.5rem;
`
export const ProductDesc  = styled.p`
margin-bottom:1rem;

`
export const ProductPrice = styled.p`
margin-bottom:1rem;
font-size:2rem;
font-weight:500;
`
export const  ProductBtn = styled.button`
font-size:1rem;
padding:1rem 4rem;
border:none;
font-weight:500;
background:#e31837;
color:#fff;
transition:background,color,cursor,0.2s ease-out;


&:hover{
    background:#ffc500;
    cursor:pointer;
    color:#000; 

}

` */