.mentor-card{
   background-color:#ffff;
   box-shadow:0 100px 60px -12px rgba(0, 0, 0, 0.25);
   border-radius:0.5rem;
   max-width: 25rem;
   padding: 2rem;
   display: flex;
   flex-direction:column;
   border:.1px solid rgba(87, 86, 86, 0.2);
 }

.profile-photo-wrapper{
    display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom:1rem;
  
   
}
.profile-photo-wrapper > img{
    width:75px;
    height: 75px;
    vertical-align: middle;
    border-radius: 100%;
    cursor: pointer;
    border-top-left-radius: 50% 50%;
     border-top-right-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%; 
      border-bottom-left-radius: 50% 50%;
    
}

.mentor-infor{
    padding:1;
    margin-bottom:1rem;
}
.mentor-infor > div{
    padding:1;
    display: flex;
    flex-direction: column;
    padding-bottom:1rem;
}

.mentor-name{
    margin-bottom:1rem;
    font-size:1.6rem;
    color:rgb(36, 35, 35)
}

.mentor-profession{
    margin-bottom:2rem;
    display:block;
    margin-bottom:2rem;
}

.label{
    color:rgba(36, 35, 35, 0.603);
    text-transform:capitalize;
    margin-bottom:.1rem;
}

.mentor-infor p{
    font-size:1.5rem
}

.request-link{
  
    /* border:.1rem solid transparent */
    
    cursor: pointer;
    
    
    
}
.request-link >p {
    padding:0.5rem;
    color:#2048a0; 
    background-color:#c5c5f3;
}