
.aboutUs-container{
    padding:4rem 5rem;
    background-color: var(--white);
 
  }
  .about-wrapper{
      display:flex;
      justify-content:center;
      align-items:center;
      position: relative;
      top:-180px;
  }

  .about-card{
    border:0.1rem rgba(0, 0, 0, 0.25) solid;
    background-color:#1a202c;
    box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius:0.5rem;
    margin:0 1rem;
    width:70rem;
    height:40rem;
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
    align-items:center;
    padding:2rem;
    color:#ffff;
    line-height:2.5rem;
    
    
  }
  .about-steps{
      display: flex;
      justify-content:space-between;
      align-items:center;
      position: relative;
     bottom:100px;
 
  }
  
  .steps{
    background-color:#1a202c;
    box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius:0.5rem;
    width:40rem;
    height:200px;
    padding: 2rem;
    color:rgba(255, 255, 255, 0.767);
    line-height:2.2rem;
  }
  
  .steps >h3{
margin-bottom:1rem;
    color: rgba(120, 85, 218, 0.842);
  }
  
    