/* .card-skeleton{
    padding: 1rem;
    border:0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius:0.5rem;
    margin: 1rem; 
    width:29rem;
}

.card-img{
    max-width:29rem;
    margin-bottom: 1rem; 
    height: 10vh;
}

.card-info{
    margin-top: 2rem; 
    width:100%;
}
.card-title{
    margin-bottom: 1rem ;
    font-size: 1.2rem;
    padding: 1rem 0;
} */

