.form-container{
    height: 100vh;
   
}

.form{
    max-width:50rem;
    margin:0 auto;
    border:.1rem #c0c0c0 solid;
    border-radius:.5rem;
    background-color:#fafafa;
}

.form > div{
    display: flex;
    flex-direction:column;
    margin:1rem;
}

.form label{
    margin:1rem 0;
}

input{
    padding:.8rem;
    border:0.1rem #c0c0c0 solid;
}

.error{
    font-size: 15px;
    color:#f00e0e;
}