

.mentor-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:2rem;
  
}

.row.top{
    align-items:flex-start;
}

.col-1{
    flex:1 1 25rem;
}

.col-2{
    flex:2 1 70rem;
}
.request-card{
    box-shadow:0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius:1rem;
    margin:1rem;
    max-width:29rem;
    height:8rem;
    display:flex;
    align-items:center;
    justify-content:center;
    
    
}
.card-1{
      /* background-color:#1a202c; */
    background-color:#e59191;
    color:#fff;  
}
.card-2{
    background-color:#fff;
    /* color:;   */
}

.col-1 > p{
    text-transform: uppercase;
}

.selectbox-container{
    display:flex;
    justify-content: flex-end;
    margin-right: 4.5rem;
    margin-bottom: 2rem;
   
}

.mentor-selectbox{
    width:30rem;
}
