.formRow {
    display: inline-block;
    width: 100%;

  }

  
.formSelect-label{
    display: block;
    width: 100%;
    text-align: left;
  }

.form-Select{
    display: block;
    width: 100%;
    float: left;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    padding: 5px 0px;
    margin: 10px auto;
    outline: none;
    cursor: pointer;
  }


.form-radio-container {
display:grid;
grid-template-columns: repeat(11,62px);
     
   
}


.radio{
  width: 25px;
  height:25px;
  position:relative;
}

.radio-label{
  position:relative;
  left:6px;
  font-size:1.3rem;
  display: block;
  background: #1d1d42;
  border:2px solid rgba(255,255,255,0.1);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  width: 20px;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.radio-item .radio:after,
.radio-item .radio:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item .radio:after{
    height: 25px;
    width: 25px;
    border:3px solid #524eee;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

